@import "tailwindcss";

:root {
  /* Light mode */
  --background: #f5f7fb;
  --foreground: #0f172a;

  --primary: #2563eb;        /* Blue-600 */
  --primary-soft: #3b82f6;   /* Blue-500 */
}

.dark {
  /* Dark mode */
  --background: #020617;
  --foreground: #e5e7eb;

  --primary: #60a5fa;        /* Blue-400 */
  --primary-soft: #3b82f6;   /* Blue-500 */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
